<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendHomeController</servlet-name>
        <servlet-class>Controller.SendHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>Controller.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieController</servlet-name>
        <servlet-class>Controller.AddMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>Controller.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>Controller.MovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendHomeController</servlet-name>
        <url-pattern>/SendHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/UserHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieController</servlet-name>
        <url-pattern>/AddMovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/MovieController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
