/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2021, 1:16:33 AM
    Author     : Lahiru De silva 
*/

body {
    background-color: #191c1f;
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Cherry Swash';;
    color:#ff4350;
    font-size: 45px;
}



.main {
    background-color: #222b31;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    padding-top: 18.344px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 10px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.un {
    width: 76%;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Lato', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Lato', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(255,67,80,1) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #FF4D58;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}



a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #ff4350;
    text-decoration: none
}

.regi{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #fff;
    padding-top: 25px;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}